__pycache__/infer.cpython-38.pyc
*.pyc
gradio_cached_examples/*
gradio_cached_examples/
samples/*
samples/
__pycache__/*
*.ckpt
arc2face/*
arc2face/
*.safetensors
*.bin
image_encoder/*
image_encoder/
__assets__/*
__assets__/
